.nav-link {
  text-transform:uppercase;
  font-size:.8em;
}

.welcome-section .logo {
  /*background-size:cover;*/
  background-position:50% 50%;
  background-repeat:no-repeat;
}

.overlay {
  /*background-image:radial-gradient(rgba(0,0,0,.6),transparent)!important;*/
  min-height:100vh;
}

.container.welcome-section {
  min-height:100vh;
}

.gradient {
  background:linear-gradient(120deg,#b70072,#007aa4);
  color:#fff;
}

